:root {
  --background-color: #fafaf8;
  --btn-color: #1f2325;
  --btn-hover-color: #1e3a8a;
  --btn-text-color: #fafaf8;
  --btn-text-color-hover: #fafaf8;
  --project-card-color: #ffffff00;
  --text-color: #1e293b;
  --form-text-color: #334155;
  --footer-text-color: #64748b;
}
[data-theme="dark"] {
  --background-color: #031024;
  --btn-color: #f9fbf2;
  --btn-hover-color: #a30000;
  --btn-text-color: #031024;
  --btn-text-color-hover: #f9fbf2;
  --project-card-color: #f9fbf2;
  --text-color: #f9fbf2;
  --form-text-color: #f7ece9;
  --footer-text-color: #9ea3a8;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Fira Sans", serif;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 18px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 29px;
}

p {
  font-size: 14px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}
.hover {
  cursor: pointer;
}

@media (width >= 800px) {
  #root {
    gap: 45px;
  }
  h1 {
    font-size: 36px;
  }
  h2,
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  .sectionTitle {
    margin-bottom: 54px;
  }
}
@media (width >= 1400px) {
  #root {
    gap: 72px;
  }
  h1 {
    font-size: 43px;
  }
  .sectionTitle {
    margin-bottom: 68px;
  }
}
